.custom-card{
    width: 100%;
    background: rgba(48, 136, 255, 0.05);
    border-radius: 12px;
    transition: all 0.3s;
}
.custom-card:hover{
    background-color: #2D5BFF;
    color: #ffffff;
}

.pricing-card-btn{
    background: #F6A00E;
    border-radius: 12px;
    color:#ffffff;
    font-weight: 700;
}
.pricing-card-btn:hover{
    background: #F6A00E;
}